<div class="search-container">
    <div class="search-action">
        <form id='artist-search-form' action="/artist-search", method="GET">
            <label for="artist-search">Enter Artist Name: </label>
            <input id='artist-search' type="text" name="artist">
            <button class='search-btn'>Search for an Artist</button>
        </form>
    </div>
</div>